<div class="container-fluid footer mt-5">
    <div class="row">

        <div class="col-lg-6">
            <h1>Suret Salu artstudio</h1>
        </div>
        <!--navigation-->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="courses">Courses</a>
            <a routerLink="contact">Contact</a>
        </div>

        <!-- social media -->

        <div class="col-lg-2">
            <a href="https://www.instagram.com/suretsalu.artstudio/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://l.instagram.com/?u=http%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D77071110284&e=ATPq9nWd4o6QRmIfkjOhnzGnOZSbiVIvNUHZsf9nq_GuK48zZwre6csOcc3QXivl7-73FzjVnkzgAvIa143fvw&s=1" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>

    </div>