<div class="container">
    <div class="row">
        <div class="col-lg-6" *ngIf="courseData">
            <a routerLink="../../courses" class="btn btn-sm btn-dark mt-3 mb-3"><i class="bi bi-arrow-left"></i> Вернуться</a>
            <img src="{{courseData[0].courseImg}}" width="100%">
            <h1>{{courseData[0].title}}</h1>
            <p>{{courseData[0].courseDetails}}</p>
            <p>{{courseData[0].coursePrice}}</p>



            <div class=" col-lg-6 ">
                <h1>Введите ваши данные</h1>
                <form>
                    <input type="text " class="form-control " placeholder="Фамилия ">
                    <input type="text " class="form-control " placeholder="Имя ">
                    <input type="text " class="form-control " placeholder="Номер телефона ">
                    <button class="btn btn-md btn-dark mt-3 ">отправить</button>
                </form>
            </div>
        </div>
    </div>