<div class="bodymain">
    <h2 class="buyad">IF YOU WANT THE BEST VACUUM CLEANER, YOU WANT A Sōji SYSTEM</h2>
    <b>You invest a lot in your home. Help protect that investment and extend the life of your carpet,
      floors and furniture with the best vacuum out there: a Sōji system.
      For over 100 years, our customers have benefited from the confident clean that only Sōji can provide.
      Here are just a few reasons to invest in the best vacuum out there.</b>
    <h2>Buy Sōji! We provide all range of accessories and vaccum supplies!</h2>
    <!-- Here should be a button to jump for products -->
    <a [routerLink]="['/products']">
        <button style="width:100x;height:75px" class="btn">Proceed to Products</button>
    </a>
    <h2>Sōji: CLEANING ONE MESS AT A TIME</h2>

    <p> If you’ve heard of The Sōji Company before, it’s because we’ve been in homes cleaning up every day messes for more than 100 years. Abilaikhan Sōji created the first Sōji vacuum cleaner in 1906, and ever since, The Sōji Company has continuously improved
        its Kazakhstan-made, hand-crafted Sōji Home Cleaning System designs. Abilaikhan Sōji is best known for his vacuum cleaner creation and spent most of his life fine-tuning the Kirby vacuum cleaner that is known for the best suction. The first model
        he developed employed water for dirt separation.
    </p>
    <app-featuredprod></app-featuredprod>
</div>