<div class="container">
    <button>Избранное</button>
    <div class="row">
        <div class="col-lg-4" *ngFor="let cd of courseData">
            <div class="coursebox mt-3 mb-3">
                <img src="{{cd.courseImg}}">
                <h1>{{cd.title}}</h1>
                <p>{{cd.courseDetails}}</p>
                <p>{{cd.coursePrice}}</p>
                <p>{{cd.like}}</p>
                <button (click)="like()">Like</button>
                <p>{{cd.rating}}</p>

                <div *ngIf="cd.check==false" class="rating-buttons">
                    <button (click)="addRaiting1()">
                      1
                    </button>
                </div>

                <div *ngIf="cd.check==false" class="rating-buttons">
                    <button (click)="addRaiting2()">
                      2
                    </button>
                </div>




                <div *ngIf="cd.check==false" class="rating-buttons">
                    <button (click)="addRaiting3()">
                      3
                    </button>
                </div>




                <div *ngIf="cd.check==false" class="rating-buttons">
                    <button (click)="addRaiting4()">
                      4
                    </button>
                </div>


                <div *ngIf="cd.check==false" class="rating-buttons">
                    <button (click)="addRaiting5()">
                      5
                    </button>
                </div>
            </div>

            <a [routerLink]="['/courses', cd.id]" class="apply">Записаться</a>

        </div>
    </div>
</div>