<h1>QUALITY, RELIABLE HOME CLEANING SYSTEMS
    <br> Sōji
</h1>
<div *ngIf="logged">
    {{current}}
</div>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/products">Soji and Accessories</a>
    <a routerLink="/delivery">Delivery</a>
    <a routerLink="/services">Soji Service Center</a>
    <a routerLink="/reviews">Reviews</a>
    <a routerLink="/cart"> Cart </a>
    <a routerLink="/vieworders">View My Orders</a>
    <a (click)="getUsername()" routerLink="/signin">{{current}} </a>
</nav>