<div class="container">
    <button>Избранное</button>
    <div class="row">
        <div class="col-lg-4" *ngFor="let cd of courseData">
            <div class="coursebox mt-3 mb-3">
                <img src="{{cd.courseImg}}">
                <h1>{{cd.title}}</h1>
                <p>{{cd.courseDetails}}</p>
                <p>{{cd.coursePrice}}</p>
    
                <a [routerLink] = "['/courses', cd.id]" class="apply">Записаться</a>
                
            </div>
        </div>
    </div>
</div>