<h1>Sōji Service Center</h1>
<h3 class="s1">Our Sōji service centers operate in the following cities:</h3>
<p class="p1">Tyumen, Moscow, Chelyabinsk, Yekaterinburg, Omsk, St. Petersburg, Orenburg, Nizhny Novgorod, Rostov-on-Don</p>
<h3 class="s2">If your city is not in the list, call us now at 8 800 500-07-72 | the call is free</h3>
<p class="p2">We will let you know where in the nearest service you can repair the Sōji vacuum cleaner.</p>
<h3 class="s3">We have been professionally repairing Sōji vacuum cleaners for over 10 years.</h3>
<p class="p3">All work is covered by a warranty of 6-36 months.</p>
<h3 class="s4">Also, you can independently carry out maintenance of your Sōji vacuum cleaner, following our instructions.</h3>
<p class="p4">All necessary spare parts and details are available in our official Sōji store <a href="http://localhost:4200/products">Here</a></p>