<div class="banner">
    <div class="content">
        <h1 class="mb-5">Раскрой свой творческий потенциал</h1>
        <a routerLink="courses">Записаться<i class="bi bi-arrow-right-short"></i> </a>
    </div>
</div>

<div class="teachers">
    <h2>Наши преподаватели</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="teacher">
                <img src="https://images.unsplash.com/photo-1551180452-aea351b23949?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
                <h4>Кристина</h4>
                <p>Фэшн иллюстрация, живопись</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="teacher">
                <img src="https://images.unsplash.com/photo-1613483811511-72729fa16112?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
                <h4>Екатерина</h4>
                <p>Живопись, скетчинг</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="teacher">
                <img src="https://images.unsplash.com/photo-1486413869840-a99ac0a4c031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=430&q=80">
                <h4>Айгерим</h4>
                <p>Живопись, академический рисунок</p>
            </div>
        </div>
    </div>


    <div class="container mt-4 mb-4">
        <h2>Наши Курсы</h2>
        <div class="row">
            <div class="col-lg-3 mt-3" *ngFor="let cd of courseData index as i">
                <div class="coursebox" *ngIf="i<=3">
                    <img src="{{cd.courseImg}}">
                    <h1>{{cd.title}}</h1>
                    <p>{{cd.coursePrice}}₸</p>
                </div>
            </div>
        </div>
        <a routerLink="courses" class="viewmore">View More <i class="bi bi-arrow-right-short"></i></a>
    </div>